<div class="footer__body row">
    <div class="col-6 text-light">
        <h1>Hello</h1>
        <p>Feel free to ask if you have any question</p>
        <div class="row mb-2">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <input type="text" class="form-control" placeholder="Mail" aria-label="Email">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Phone" aria-label="Phone">
            </div>
        </div>
        <textarea class="form-control" aria-label="With textarea"></textarea>
        <!-- <div class="input-group">
        </div> -->
    </div>
    <div class="col-5 ms-auto text-light">
        <h2>Contact<br>Infomation</h2>
        <p>Email: <a href="hodacthuytienbc@gmail.com">hodacthuytienbc@gmail.com</a></p>
        <h2>Follow me</h2>
        <fa-icon [icon]="['fab','facebook']" size="2x"></fa-icon>
    </div>
</div>
