<div class="content__body" *ngFor="let title of titles">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-6">
            <div class="card content__card">
                <img src="https://picsum.photos/350/360" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="mb-4">Card title</h5>
                    <p class="mb-4">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <div class="content__button">
                        <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card content__card">
                <img src="https://picsum.photos/350/360" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="mb-4">Card title</h5>
                    <p class="mb-4">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <div class="content__button">
                        <a href="#" class="btn btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>