.header {
  display: block;
  width: 95%;
  height: 135px;
  margin: 10px auto;
}
.carousel {
  display: block;
  width: 95%;
  height: 910px;
  margin: 10px auto;
}
.content {
  display: block;
  width: 75%;
  height: 540px;
  margin: 10px auto;
}
.footer {
  display: block;
  width: 100%;
  height: auto;
  background-color: black;
}
