<div #post class="container">
  <!-- <h1 class="text-center">Title</h1>
  <p class="sapo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ad, quae sapiente pariatur magnam
    asperiores corrupti facere, a harum, sit minima perspiciatis recusandae. Sint quam veniam temporibus pariatur ea
    dolor!</p>
  <div>
    <img src="https://picsum.photos/600/300" alt="">
    <p class="text-center">(Lorem, ipsum.)</p>
  </div>
  <h2>1. Lorem ipsum dolor sit amet.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit unde, nulla qui quam magnam doloribus.
    Ducimus beatae vero voluptatum a laborum porro quis eius aut magni consequatur, maiores, excepturi corrupti.</p>
  <h2>2. Lorem ipsum dolor sit amet.</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit unde, nulla qui quam magnam doloribus.
    Ducimus beatae vero voluptatum a laborum porro quis eius aut magni consequatur, maiores, excepturi corrupti.</p> -->
</div>