<div class="newPostList container-fluid">
    <p-carousel [value]="numberOfPosts" [numVisible]="3" [numScroll]="1" [autoplayInterval]="3000">
        <ng-template let-post pTemplate="item">
            <div class="card newPostList__item">
                <img src="https://picsum.photos/580/800" alt="postThumbnail" />
                <div class="card-img-overlay">
                    <h5 class="card-title">Title</h5>
                    <div class="text-center carousel__button">
                        <a href="#" class="btn btn-dark">Đọc</a>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>